<launch>
  <arg name="sim" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find airi_gazebo)/launch/simulation.launch" if="$(arg sim)"/>

  <group unless="$(arg sim)">
    <include file="$(find airi_base_cpp)/launch/base.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
  </group>

  <include file="$(find airi_slam)/launch/slam.launch"/>

  <include file="$(find airi_nav)/launch/explore.launch">
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
