<launch>
  <arg name="sim" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find airi_gazebo)/launch/simulation.launch" if="$(arg sim)"/>

  <include file="$(find airi_bringup)/launch/platform.launch" unless="$(arg sim)"/>

  <include file="$(find airi_slam)/launch/slam.launch"/>

  <include file="$(find airi_nav)/launch/move.launch"/>
</launch>
