<launch>
  <arg name="sim" default="true"/>
  <arg name="debug" default="true"/>

  <include file="$(find airi_gazebo)/launch/simulation.launch" if="$(arg sim)"/>

  <include file="$(find airi_slam)/launch/slam.launch"/>

  <include file="$(find airi_nav)/launch/explore.launch">
    <arg name="debug" value="$(arg debug)"/>
  </include>
</launch>
