<launch>
  <env name="DB_PATH" value="sqlite:///proyectoheatmap.db" />
  <node name="wifi_scanner_node" pkg="airi_heatmap" type="scanner_node" />
  <node name="wifi_recorder_node" pkg="airi_heatmap" type="recorder_node" />
  <node name="heatmap_generator" pkg="airi_heatmap" type="pdf_generator_node" />
</launch>
