<launch>
  <arg name="urdf_file" default="$(find airi_description)/urdf/airi.urdf.xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf_file)'"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <param name="use_gui" value="false"/>
    <param name="rate" value="50"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find airi_description)/config/model.rviz"/>
</launch>
